<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="NoticeMapper">
 	<resultMap type="notice.model.vo.Notice" id="noticeResultMap">
 		<id 	property="noticeNo" 	    column="NOTICE_NO" />
 		<result property="noticeTitle" 		column="NOTICE_TITLE" />
 		<result property="noticeContents" 	column="NOTICE_CONTENTS" />
 		<result property="regDate" 			column="NOTICE_REGDATE" />
 	</resultMap>
 	<insert id="insertNotice"> 
 		INSERT INTO CANON_NOTICE_TBL VALUES(SEQ_CANON_NOTICENO.NEXTVAL, #{ noticeTitle },#{ noticeContents },DEFAULT)
 	</insert>
 	
 	<update id="updateNotice"> 
 		UPDATE CANON_NOTICE_TBL SET NOTICE_TITLE = #{ noticeTitle }, NOTICE_CONTENTS = #{ noticeContents } WHERE NOTICE_NO = #{ noticeNo }
 	</update>
 	
 	<select id="deleteNotice">
 		DELETE CANON_NOTICE_TBL WHERE NOTICE_NO = #{ noticeNo }
 	</select>
 	
 	<select id="selectNoticeList" resultMap="noticeResultMap">
 		SELECT * FROM CANON_NOTICE_TBL ORDER BY NOTICE_NO DESC
 	</select>
 	
 	<select id="selectOneByNo" resultMap="noticeResultMap">
 		SELECT * FROM CANON_NOTICE_TBL WHERE NOTICE_NO = #{noticeNo }
 	</select>
 	
 	<select id="getTotalCount" resultType="_int"><!-- 컬럼의갯수가한개이고 숫자이면 int형식으로 쓰기 가능 -->
 		SELECT COUNT(*) FROM CANON_NOTICE_TBL
 	</select>
 	
 </mapper> 